<h2>The body of the Index page</h2>
<ul>
    <li>List1</li>
    <li>List2</li>
    <li>List3</li>
</ul>
{{!-- <ul>
{{#each displayMovies}}
 <li>{{title}}</li>
{{/each}}
</ul>
<p>{{displayMovies}}</p> --}}